Package: com.khronos.utilities
Priority: optional
Name: Khronos Utilities
Version: %%VERSION%%
Section: Utilities
Architecture: iphoneos-arm
Pre-Depends: dpkg
Maintainer: Khronos
Homepage: https://github.com/Khronos31/khronos-utils
Tag: purpose::console
Description: Compiled for %%ARCHS%%.
	Useful command line utilities.
